.controls {
  &__area {
    position: relative;

    display: none;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;

    background-color: $c_base;

    &.active {
      display: flex;
    }

    &.top {
      top: 0;

      border-bottom: 2px solid $c_second;
    }

    &.bottom {
      bottom: 0;

      border-top: 2px solid $c_second;
    }

    &.back {
      justify-content: flex-end;
    }
  }

  &__trigger {
    display: none;

    &.show {
      display: flex;
      flex-grow: 1;
    }

    &.togrid {
      position: absolute;
      top: 50%;
      left: 50%;

      margin-top: -10px;
      margin-left: -10px;

      svg {
        margin-top: 0;
      }
    }
  }

  &__copy {
    display: none;
    margin: 0;

    &.show {
      display: block;
    }
  }
}