.contact {
  width: 100%;
  max-width: 600px;

  .direct {
    margin-bottom: 3rem;

    @media (min-width: $bp_ipad_portrait) {
      display: none;
    }
  }

  &__info {
    margin-top: 1rem;

    @media (min-width: $bp_ipad_landscape) {
      display: none;
    }

    .social {
      margin-top: 1rem;

      @media (min-width: $bp_ipad_portrait) {
        display: none;
      }
    }
  }
}