div.splash
  header.splash__header
    svg.svg(width="132", height="80")
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-splash")
  
  svg.splash__svg.svg(width='275', height='530')
    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#leyza-draw")

  footer.splash__footer
    div.loader
      span
