.content {
  position: relative;
  z-index: 8;

  display: flex;
  flex-direction: column;
  width: 100%;

  overflow: hidden;

  $offset: 64px + 41px; // header height + footer height
  height: calc(100vh - #{$offset});

  @media (min-width: $bp_ipad_portrait) and (min-height: 600px) {
    $offset: 98px + 41px; // header height + footer height
    height: calc(100vh - #{$offset});
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    width: 100%;
    height: 100%;

    background-color: $c_second;
  }

  &__scroll {
    position: relative;

    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;

    overflow: auto;
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;
  }
}