.footer {
  border-top: 2px solid $c_second;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  &__copyright,
  .address {
    margin: 0;
  }

  .address {
    display: none;
  }

  .social {
    display: none;
  }
}

// tablet & desktop
body.tablet-device,
body.desktop-device {

  .footer {
    &__inner {
      padding: 0.5rem 1rem;
      justify-content: space-between;
    }

    .address {
      @media (min-width: $bp_ipad_landscape) {
        display: flex;
      }
    }

    .social {
      display: flex;
    }
  }

}