.header {
  position: relative;
  z-index: 10;

  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  &__logo {
    svg {
      width: 90px;
      height: 48px;
    }
  }

  &__copy {
    width: 141px;
    height: 26px;
  }

  .direct {
    display: none;
  }
}

// tablet & desktop
body.tablet-device,
body.desktop-device {

  .header {
    border-bottom: 2px solid $c_second;
    background-color: $c_base;

    &__inner {
      padding: 0.5rem 1rem;
    }

    &__logo {
      svg {
        width: 150px;
        height: 80px;
      }
    }

    &__copy {
      width: 250px;
      height: 47px;
    }

    &__burger {
      display: none;
    }

    .direct {
      display: flex;
    }
  }

}