.nav {
  position: absolute;
  top: 64px; // header height
  left: 0;
  z-index: 9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;

  $offset: 64px + 41px - 2px; // header height + footer height + border width
  height: calc(100vh - #{$offset});

  background-color: $c_base;
  border-bottom: 2px solid $c_second;

  &__item {
    overflow: hidden;

    text-align: center;

    a {
      display: block;
      padding: 0.8rem 1rem;

      font-size: 1.5rem;
    }
  }
}

// tablet & desktop
body.tablet-device,
body.desktop-device {

  .nav {
    position: relative;
    top: inherit;

    width: 30%;
    max-width: 300px;
    height: auto;
    padding: 2rem 3rem;
    justify-content: flex-start;
    align-items: flex-end;

    border-right: 2px solid $c_second;
    border-bottom: none;

    @media (min-width: $bp_ipad_landscape) {
      width: 25%;
    }

    &__item {
      text-align: right;
    }
  }

}