footer.footer
  p.footer__copyright &copy; Copyright 2019
  a.link.address(href="https://goo.gl/maps/onF7aHgSHLXuGh7T8", target="_blank", rel="noopener") 
    span Hospital CEMQ Calle Primera y González No. 1105 H. matamoros, Tam.
  ul.social.u-list-nostyle
    li
      a.link(href="mailto:leyzanieto@hotmail.com", target="_blank", rel="noopener") 
        span E-Mail
    li
      a.link(href="https://facebook.com", target="_blank", rel="noopener") 
        span Facebook
    li
      a.link(href="https://instagram.com", target="_blank", rel="noopener") 
        span instagram