header.header
  a.header__logo(href="#")
    svg(width="75" height="40").svg
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")
  svg(width="141" height="26").svg.header__copy
    use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo-copy")