<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    meta(name="description", content="Ser honesta, comprometida y empática con mis pacientes son valores que siempre fueron prioridad en mi labor profesional, atendiendo de manera global el universo femenino para traducirlo de una manera simple y cercana.")

    title Dra. Leyza Angélica Nieto

    link(rel="stylesheet", href="scss/index.scss")
  body
    include svg-icons

    include header

    main.main
      include nav

      div.content.bottom
        div.content__overlay

        div.controls__area.top
          p.controls__copy
          a.link.left.controls__trigger(href="#", data-type-action="back", data-direction="left")
            svg.svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left")
            span Regresar

        div.content__scroll
          div.content__inner(data-router-wrapper)
            block content

        div.controls__area.bottom
          p.controls__copy
          a.link.left.controls__trigger.prev(href="#", data-type-action="prev", data-direction="left")
            svg.svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left")
            span Anterior
          a.link.right.controls__trigger.next(href="#", data-type-action="next")
            span Siguiente
            svg.svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right")
          a.link.left.controls__trigger(href="#", data-type-action="back", data-direction="left")
            svg.svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-left")
            span Regresar

    include footer

    script(src="js/index.js")