<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Dra. Leyza Angélica Nieto

    link(rel="stylesheet", href="scss/index.scss")
  body
    include svg-icons

    include header

    block content
    
    include footer

    script(src="js/index.js")