nav.nav
  ul.nav__list.u-list-nostyle
    li.nav__item
      a(href="/about") About
    li.nav__item
      a(href="/services") Servicios
    li.nav__item
      a(href="/consultations") Consultas
    li.nav__item
      a(href="/contact") Contacto