nav.nav
  ul.nav__list.u-list-nostyle
    li.nav__item
      a.link(href="/") 
        span About
    li.nav__item
      a.link(href="/servicios") 
        span Servicios
    li.nav__item
      a.link(href="/consultas") 
        span Consultas
    li.nav__item
      a.link(href="/contacto") 
        span Contacto