//- 404
extends pug/layout/layout

block content
  div.content.home.bottom.right(data-module-scope="404")
    div.content__overlay
    div.content__scroll
      div.content__inner
        h1 404 NOT FOUND