//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="atencion-de-parto", data-module-scope="services", data-service-controls="parto")
    article.detail
      header.detail__header
        h2.detail__title Atención de parto
      div.detail__body
        p.text Todas las mujeres tienen el derecho a tener una vivencia del parto, una experiencia de vida que sea significativa y recordada con agrado; fomentamos esta ideología y te apoyamos en esta etapa muy importante de tu embarazo.