//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="atencion-de-parto-por-cesarea", data-module-scope="services", data-service-controls="cesarea")
    article.detail
      header.detail__header
        h2.detail__title Atención de parto por cesarea
      div.detail__body
        p.text La cesárea es una operación quirúrgica, a travez de la cual nace el bebe, que se realiza cuando la salud de la madre o el bebé corren peligro. Tiene indicaciones muy precisas.