//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="colposcopia", data-module-scope="services", data-service-controls="colposcopia")
    article.detail
      header.detail__header
        h1.detail__title Colposcopia y detección oportuna de Cancer Cervicouterino
      div.detail__body
        p.text Consiste en observación microscópica del epitelio del cuello uterino, permite identificar lesiones precancerosas con gran precisión y toma de biopsia, se debe realizar siempre que un resultado de papanicolau sea anormal.
        p.text Papanicolau, Colposcopia, toma de biopsia de cérvix, prevención de VPH (vacuna), captura de híbridos, PCR.
        p.text Tratamiento Láser, crioterapia, cono cervical.
        p.text De acuerdo con las características y problema  de cada paciente.