//- Consultations
extends pug/layout/layout

block content
  div.wrapper(data-router-view="consultas", data-module-scope="consultations")
    div.consultations
      header.consultations__header
        h1.consultations__title ¿Cuándo y por qué debo tener una consulta médica?
      p.text Esta información pretende explicar cuándo y por qué debo tener una consulta médica y puedan resolver dudas en torno a la salud femenina (sexualidad, ginecología, embarazo, menopausia, enfermedades de transmisión sexual, etc.), en directo y de la mano de la doctora.
      hr.separator
      p 1. Cuando necesitas tener una opinión médica ante un diagnóstico que ya tienes.
      hr.separator
      p 2. Temas de salud femenina que te preocupan o te inquietan, y que no requieran de una consulta en clínica.
      hr.separator
      p 3. Contrastar información relacionada con la mujer que te ayude a aclarar tus dudas.
      hr.separator
      p 4. Asesoramiento para autoconocimiento de la salud.