//- Consultations
extends pug/layout/layout

block content
  div.content.home.bottom.right(data-module-scope="consultations")
    div.content__overlay
    div.content__scroll
      div.content__inner
        h1 Hello Consultations!