//- Contact
extends pug/layout/layout

block content
  div.wrapper.contact(data-router-view="contacto", data-module-scope="contact")
    div.direct
      div.direct__phone
        svg(width="17" height="17").svg.direct__phone-icon
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone")
        a.link(href="tel:8688134303") 
          span (868) 813-4303
        a.link(href="tel:8688134614") 
          span (868) 813-4614
      a.link(href="mailto:leyzanieto@hotmail.com").direct__email 
        span leyzanieto@hotmail.com

    form.form
      div.form__container
        div.form__control
          label.form__label(for="name") Nombre
          div.form__input-wrapper
            input.form__input.text(type="text" id="name" name="name" required)
        div.form__control
          label.form__label(for="email") Mail
          div.form__input-wrapper
            input.form__input.text(type="email" id="email" name="email" required)
        div.form__control
          label.form__label(for="subject") Asunto
          div.form__input-wrapper
            input.form__input.text(type="text" id="subject" name="subject" required)
        div.form__control
          label.form__label(for="message") Mensaje
          div.form__input-wrapper
            div.textarea.form__input
              textarea.textarea__control.text(id="message" name="message" rows='5' required data-min-rows="5")
      footer.form__footer
        div.form__message
          p ¡Tu mensaje ha sido enviado con éxito!
        div.form__actions
          div.form__submit
            button.form__submit-button(type="submit")
              span.form__submit-label Enviar
              span.form__submit-feedback
                svg.svg.success
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#check")
                svg.svg.error
                  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#times")
            div.form__submit-loader.loader
              span
      p.grecaptcha-politics.text
        | Este sitio está protegido por reCAPTCHA y se aplica la 
        a.link(href="https://policies.google.com/privacy" target="_blank" rel="noreferrer")
          span Política de Privacidad 
        |  de Google, así como los 
        a.link(href="https://policies.google.com/terms" target="_blank" rel="noreferrer")
          span Términos del Servicio
        |.
    
    div.contact__info
      a.link.address(href="https://goo.gl/maps/onF7aHgSHLXuGh7T8", target="_blank", rel="noopener")
        span Hospital CEMQ Calle Primera y González No. 1105 H. matamoros, Tam.
      ul.social.u-list-nostyle
        li
          a.link(href="mailto:leyzanieto@hotmail.com", target="_blank", rel="noopener") 
            span E-Mail
        li
          a.link(href="https://facebook.com", target="_blank", rel="noopener") 
            span Facebook
        li
          a.link(href="https://instagram.com", target="_blank", rel="noopener") 
            span instagram
