//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="control-prenatal", data-module-scope="services", data-service-controls="prenatal")
    article.detail
      header.detail__header
        h1.detail__title Control Prenatal
      div.detail__body
        p.text Es una consulta donde se realizan un conjunto de acciones y procedimientos sistemáticos y periódicos, destinados a la prevención, diagnóstico y tratamiento de los factores que puedan condicionar daño a la salud de la mamá y su bebe. Ultrasonido