//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="endometriosis", data-module-scope="services", data-service-controls="endometriosis")
    article.detail
      header.detail__header
        h2.detail__title Endometriosis
      div.detail__body
        p.text La endometriosis es un cuadro bien conocido para cerca del 15% de las mujeres de entre 15 y 45 años de edad. La condición clínica causa un dolor frecuente y, muchas veces, intolerable. Uno de los principales síntomas de la endometriosis es el dolor pélvico, frecuentemente asociado al período menstrual.
        p.text Aunque muchas mujeres experimentan cólicos durante el período, aquellas con endometriosis describen el dolor menstrual como mucho peor de lo habitual. Pero además del cólico, hay otros signos que pueden indicar la enfermedad. Algunos síntomas de la endometriosis son:
        ul.text
          li Fatiga
          li Hinchazón
          li Náusea
          li Dolor al tener relaciones sexuales
          li Dolor en la evacuación o en la micción
          li Sangrado excesivo durante y en el intervalo de la menstruación
          li Esterilidad
          li Agenda tu cita para valoración medica y así poder brindarte las mejores opciones para cuidar tu salud.