//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="estudio-de-infertilidad", data-module-scope="services", data-service-controls="infertilidad")
    article.detail
      header.detail__header
        h1.detail__title Estudio de infertilidad
      div.detail__body
        p.text Cuando una pareja no consigue el embarazo después de un año manteniendo relaciones sexuales sin protección, será necesario acudir con un especialista, ya que existen numerosas causas que puedan estar impidiendo el embarazo y es necesario llevar a cabo un tratamiento de fertilidad para poder tener un bebé.
        p.text Existen diferentes técnicas de reproducción humana asistida y los especialistas son los que deciden qué tipo de técnica es más adecuada para cada paciente en función de varios factores como el grado de infertilidad o la edad.
        p.text También es importante valorar la suma del potencial reproductivo de ambos miembros de la pareja: el hombre y la mujer.
        p.text La infertilidad afecta aproximadamente a 1 de cada 6 parejas. Tanto la infertilidad masculina como la femenina afectan a un 30% de las parejas. El estudio de la pareja estéril o infértil es complejo y debe considerar numerosas causas en la mujer, en el hombre o mixtas, por lo que es conveniente seguir protocolos basados en la medicina de evidencia para el diagnóstico y tratamiento.