//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="histeroscopia-de-consultorio", data-module-scope="services", data-service-controls="histeroscopia")
    article.detail
      header.detail__header
        h1.detail__title Histeroscopia de consultorio
      div.detail__body
        p.text La histeroscopia diagnóstica, se realiza en consulta de forma ambulatoria, sin necesidad de anestesia ni preparación adicional alguna y consiste en la exploración directa del interior del útero de forma que se obtiene una información que no siempre puede ser proporcionada de forma fiable por otras exploraciones externas como el examen físico, el ultrasonido o la radiología. Este estudio beneficia a mujeres con alteraciones menstruales (reglas abundantes o pérdidas entre menstruaciones), con problemas de esterilidad o infertilidad, y cuando otros exámenes, como la ecografía ginecológica, la citología o la biopsia de endometrio, orientan hacia una patología en esa localización.
        p.text Los hallazgos más habituales son: los pólipos, los miomas o fibromas intrauterinos, las malformaciones uterinas, como el útero septo o tabicado, la hipertrofia o crecimiento exagerado del endometrio, causante de menstruaciones excesivas.