//- Home
extends pug/layout/layout

block content
  div.wrapper.home(data-router-view="home")
    article#home-intro.intro
      div.intro__inner
        figure.intro__fig
          svg.svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#leyza-draw")
        div.intro__body
          h1.intro__title Soy la Dra. Leyza
          p.text.intro__text Ser honesta, comprometida y empática con mis pacientes son valores que siempre fueron prioridad en mi labor profesional, atendiendo de manera global el universo femenino para traducirlo de una manera simple y cercana.
          p.text.intro__text Las mujeres que llegan hasta mi, antes que pacientes son personas, escucho tantos sus palabras y relatos como a sus cuerpos, ya que no todo se encasilla en un diagnóstico o genética. Mi pasión es ser de alguna manera una herramienta de ayuda, de conocimiento y de aprendizaje para cada paciente que se acerca con confianza a consultarme.
          a.link.right.intro__cta.anchor-trigger(href="#home-docs", data-to="#home-doc", data-direction="right", data-from="#home-intro", data-controls)
            span Datos académicos y profesionales
            svg.svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right")

    div#home-doc.doc
      p.text
        strong Número de cédula profesional
        |: 3723122
      p.text
        strong Número de cédula de especialista
        |: 5179213
      p.text Certificación por el Consejo Mexicano de Ginecología y Obstetricia.
      p.text
        strong Número de cédula Profesional - Maestría en Docencia
        |: 10247787
      p.text
        strong Registro federal de causante (con homoclave)
        |: NIGL7805089N3
      p.text
        strong CURP (Registro único poblacional)
        | : NIGL780508MTSTLY01

      br

      h3 DATOS ACADÉMICOS Y PROFESIONALES

      p.text - Licenciatura de Médico Cirujano y Partero.
      p.text Universidad Valle del Bravo, Campus Victoria. 1994 – 1999.
      p.text - Especialidad de Ginecología y Obstetricia,  Hospital General de Matamoros “Dr. Alfredo Pumarejo Lafaurie”; H. Matamoros Tamaulipas, México. 2003 – 2007.
      p.text - Diplomado: "Colposcopia y Tratamientos de Neoplasia Intraepitelial Cervical" en Instituto Nacional de Cancerología, México, D.F. del 1 de marzo de 2007 al 31 de agosto de 2007.
      p.text Maestría en Docencia, Universidad Autónoma de Tamaulipas, Junio 2013 - Julio 2015, Cédula profesional 10247787.
      p.text - Curso Taller: Internacional Teórico-práctico de colposcopia "Uso del Laser en el tracto genital inferior" avalado por Colegio Mexicano de Ginecólogos dedicados a la Colposcopia, Junio - Noviembre 2015.
      p.text - Diplomado en Menopausia y Climaterio, por la Asociación Mexicana para el Estudio del Climaterio, capítulo Noreste, A. C. Avalado por la Facultad de Salud Pública y Nutrición de la UANL, a través de Subdirección en Investigación, Innovación y Posgrado. Febrero - Agosto 2016.
      p.text - Curso Taller: Entrenamiento de Alto Rendimiento en Ultrasonido Obstétrico con enfoque perinatal, 21 mayo - 28 de abril de 2017, avalado por la Universidad Autónoma de Sinaloa.

      br

      h3 EXPERIENCIA LABORAL

      p.text Médico General nivel 34, IMSS Oportunidades; Hospital rural de Soto la Marina, Tamaulipas. 2001 – 2002.
      p.text Médico General nivel 34, IMSS Oportunidades; Unidad Médico Rural No 69, Francisco J. Mújica; Mpio. De San Fernando Tamaulipas. 2002 – 2003.
      p.text Medico Ginecoobstetra adscrito al servicio de Ginecología y Obstetricia del Hospital General de Matamoros "Dr. Alfredo Pumarejo L." del 1 septiembre de 2007 al 15 de mayo de 2012.
      p.text Medico No Familiar-Ginecoobstetra adscrito al servicio de Ginecología y Obstetricia  del Hospital General de Zona #13 del Instituto Mexicano de Seguro Social, del 16 de Mayo de 2008 a la fecha.
      p.text Práctica Privada Medico Especialista en Ginecología y Obstetricia con Adiestramiento en Colposcopia en Hospital y Centro de Especialidades Médico Quirúrgicas de Matamoros de Diciembre de 2007 a la fecha.
      p.text Jefa del Servicio de Ginecología y Obstetricia del Hospital y Centro de Especialidades Médico Quirúrgicas de Matamoros, S.A de C.V.
      p.text Presidenta del Colegio de Ginecología y Obstetricia de Matamoros, Tamaulipas, A. C.
      p.text Secretaria del Consejo de Administración del Hospital y Centro de Especialidades Medico Quirúrgicas de Matamoros, S.A de C.V.

      br

      h3 ACTIVIDADES PROFESIONALES DOCENTES

      p.text 1. Profesor de Cursos Formativos (título del curso, institución y fecha):
      p.text - Asesor de tesis para obtener el grado de Especialista en Ginecología y Obstetricia Dra. Mayra Mayela Hernández Dávalos avalado por la Universidad Autónoma de Tamaulipas "Prevalencia de Amenaza de Parto Pretermino por Infección de Vías Urinarias en pacientes Embarazadas en Hospital Dr. Alfredo Pumarejo L. en el periodo de Enero de 2011 a Diciembre de 2011".
      p.text - Asesor de tesis para obtener el grado de Especialista en Ginecología y Obstetricia de Dr. Oscar Iván Lemus, avalado por la Universidad Autónoma de Tamaulipas, "Prevalencia de Diabetes Mellitus Gestacional en pacientes en el Hospital General de Matamoros Dr. Alfredo Pumarejo Lafaurie de enero de 2009 a octubre de 2011".
      p.text - Asesor de tesis para obtener el grado de Especialista en Ginecología y Obstetricia Dra. Yesica Pérez Bracamontes otorgado por la Universidad Autónoma de Tamaulipas "Factores de riesgo asociados a Histerectomía Obstétrica en pacientes del Hospital General de Matamoros Dr. Alfredo Pumarejo L. en el periodo de enero de 2006 a Noviembre de 2010".
      p.text - Sinodal de Examen Profesional a aspirantes para obtener el Título de Ginecoobstetricia otorgado por  la Universidad Autónoma de Tamaulipas, Facultad de Medicina e Ingeniería en Sistemas Computacionales de Matamoros, Febrero de 2013.
      p.text - Presidenta del Comité de Ética en Investigación de la Facultad de Medicina del Campus Matamoros 2001 del Instituto de Ciencias y Estudios Superiores de Tamaulipas, A. C., en el periodo correspondiente del 18 de agosto de 2015 al 18 de agosto de 2018.
      p.text - Profesor titular de la asignatura Ginecoobstetricia teórica, Facultad de Medicina del Instituto de Ciencias y Estudios Superiores de Tamaulipas, A. C. Ciclo Julio de 2016 - diciembre de 2017.

      br

      h3 PRODUCCIÓN CIENTÍFICA.

      p.text 1. Publicaciones:
      p.text - Coautor de artículo: “Corioangioma gigante y sus complicaciones perinatales” publicado en la Revista Mexicana de Ginecología y Obstetricia 2007; 75(2):104-110.
      p.text - Coautor del artículo titulado “Embarazo ectópico cornual. Comunicación de un caso y revisión retrospectiva de 5 años” publicado en la Revista Mexicana de Ginecología y Obstetricia 2007; 75(4): 219-223.
      p.text - Coautor del artículo titulado: “Feto papiráceo. Comunicación de un caso” publicado en la Revista Mexicana de Ginecología y Obstetricia 2007; 75(7):408-411.
      p.text Autora de los trabajos en cartel dentro de las actividades académicas en el 57 Congreso Mexicano de Ginecología y Obstetricia:
      p.text - Hígado graso agudo en el embarazo. Reporte de un caso.
      p.text - Obstrucción intestinal en una gestante del tercer trimestre del embarazo ocasionado por divertículo de Meckel.
      p.text
      p.text Autora del trabajo libre presentado dentro de las actividades académicas en el 57 Congreso Mexicano de Ginecología y Obstetricia:
      p.text - Mielitis longitudinal aguda postherpética y embarazo.
      p.text Coautora de los trabajos en cartel dentro de las actividades académicas en el 57 Congreso Mexicano de Ginecología y Obstetricia:
      p.text - Feto papiráceo complicación de un embarazo gemelar.
      p.text - Embarazo ectópico cornual. Reporte de un caso y revisión retrospectiva de 5 años.
      p.text Coautora del trabajo libre presentado dentro de las actividades académicas en el 57 Congreso Mexicano de Ginecología y Obstetricia:
      p.text - Corioangioma gigante y sus complicaciones perinatales.

      br

      h3 SOCIEDADES CIENTIFICAS

      ol.text(type="1")
        li Socio Activo del el Colegio de Ginecología y Obstetricia de Matamoros, Tamaulipas, A.C.
        li Socio Activo de el Colegio Mexicano de Especialistas en Ginecología y Obstetricia A.C.
        li Socio Activo de el Colegio Mexicano de Ginecólogos dedicados a la Colposcopia, A.C.
        li Presidenta del Colegio de Ginecología y Obstetricia de Matamoros, Tamaulipas A. C.
        li Socio activo de la FEMECOG. Federación Mexicana de Colegios de Obstetricia y Ginecología.
        li Socio activo de la FLASOG. Federación Latinoamericana de Sociedades de Obstetricia y Ginecología.
        li Socio activo de la FIGO. Federación Internacional de Ginecología y Obstetricia.