//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="menopausia-y-climaterio", data-module-scope="services", data-service-controls="menopausia")
    article.detail
      header.detail__header
        h1.detail__title Menopausia y Climaterio
      div.detail__body
        p.text Este tipo de Consulta enfocada a acciones de prevención, detección oportuna y tratamiento de patología que se presenta en esta etapa de la vida, así mismo mejorar la calidad de vida de las pacientes que cursan esta etapa.
        p.text La menopausia o climaterio es una etapa totalmente normal en la vida de la mujer. Durante el proceso de envejecimiento natural se va reduciendo poco a poco la producción de hormonas. Esto puede provocar síntomas físicos como sofocos, aumento de la sudoración, problemas para conciliar el sueño, bajo estado de ánimo o aumento de peso. Además, puede afectar al estado anímico de la mujer.