//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="miomectomia-laparoscopica", data-module-scope="services", data-service-controls="miomectomia")
    article.detail
      header.detail__header
        h1.detail__title Miomectomia por Laparoscopia
      div.detail__body
        p.text La miomectomía laparoscópica es una intervención quirúrgica que sirve para extirpar los miomas uterinos, que son tumores casi siempre benignos que aparecen en el interior de la pared muscular del útero. La prevalencia de los miomas uterinos es alta y en la mayoría de los casos son asintomáticos y no necesitan tratamiento. En aquellas pacientes en las que los miomas ocasionen sintomatología: hipermenorrea, dolor o infertilidad, la miomectomía es una opción válida como tratamiento.
        p.text La miomectomía laparoscópica es un procedimiento menos doloroso en comparación con la cirugía abierta y ofrece ventajas sobre la convencional, como menor tiempo de recuperación postoperatoria, disminución del dolor postoperatorio y menor estancia hospitalaria.