//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="planificacion-familiar", data-module-scope="services", data-service-controls="planificacion")
    article.detail
      header.detail__header
        h1.detail__title Métodos Anticonceptivos y Planificación Familiar
      div.detail__body
        p.text Existen una gran variedad de métodos de protección  anticonceptiva femenina que están al alcance de todas las mujeres y cada uno se acomoda a sus necesidades.
        p.text Elige el mejor método para ti
        ul.text
          li Dispositivo intrauterino (DIU)
          li Mirena
          li Implante subdérmico
          li Hormonales orales o inyectables