//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="reseccion-laparoscopica-de-quistes", data-module-scope="services", data-service-controls="reseccion")
    article.detail
      header.detail__header
        h1.detail__title Resección Laparoscopica de quistes
      div.detail__body
        p.text Cuando es necesario operar una tumoración ovárica (habitualmente quística) siempre se debe de elegir el procedimiento menos invasivo y que permita una mejor recuperación y resultados.
        p.text La laparoscopia, es una técnica que permite a través de pequeñas incisiones (de un centímetro máximo) visualizar el aparato genital interno y extirpar la tumoración y en la medida de lo posible conservar el máximo tejido ovárico sano. Las ventajas son a corto plazo una rápida recuperación y a la larga menor riesgo de molestias por adherencias.