//- Services
extends pug/layout/layout

block content
  div.wrapper.services(data-router-view="servicios", data-module-scope="services")
    ul.grid.u-list-nostyle
      - var services = [{url: '/servicios/ultrasonido', label: 'Ultrasonido 3D / 4D-HD Live', icon: '#ultrasonido'}, {url: '/servicios/miomectomia-laparoscopica', label: 'Miomectomia laparoscópica', icon: '#miomectomia'}, {url: '/servicios/endometriosis', label: 'Endometriosis', icon: '#endometriosis'}, {url: '/servicios/reseccion-laparoscopica-de-quistes', label: 'Resección laparoscópica de quistes', icon: '#reseccion'}, {url: '/servicios/estudio-de-infertilidad', label: 'Estudio de infertilidad', icon: '#infertilidad'}, {url: '/servicios/histeroscopia-de-consultorio', label: 'Histeroscopia de consultorio', icon: '#histeroscopia'}, {url: '/servicios/atencion-de-parto', label: 'Atención de parto', icon: '#parto'}, {url: '/servicios/atencion-de-parto-por-cesarea', label: 'Atención de parto por cesárea', icon: '#cesarea'}, {url: '/servicios/menopausia-y-climaterio', label: 'Menopausia y climaterio', icon: '#menopausia'}, {url: '/servicios/colposcopia', label: 'Colposcopia y detección oportuna de cáncer cervicouterino', icon: '#colposcopia'}, {url: '/servicios/control-prenatal', label: 'Control prenatal', icon: '#prenatal'}, {url: '/servicios/planificacion-familiar', label: 'Métodos anticonceptivos y planificación familiar', icon: '#planificacion'}]

      each service in services
        li.grid__item
          a.grid__link(href=service.url)
            span.grid__label.floated
              span.grid__label-inner.text=service.label
            span.grid__icon
              svg.svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href=service.icon)
            span.grid__label
              span.grid__label-inner.text=service.label