//- services/ultrasonido
extends pug/layout/layout

block content
  div.wrapper(data-router-view="ultrasonido", data-module-scope="services", data-service-controls="ultrasonido")
    article.detail
      header.detail__header
        h2.detail__title Ultrasonido
      div.detail__body
        p.text Hoy en día no sólo disponemos de una excepcional imagen 2D como herramienta de diagnóstico prenatal, sino que se ha incorporado una nueva dimensión a las ecografías, el 3D y 4D-HD LIVE, que es cuando obtenemos imágenes fijas con volumen y perfecta nitidez. En ellas se pueden apreciar rasgos faciales, dedos de las manos y los pies, las estructuras vertebrales de la columna… Esto es muy valioso para el diagnóstico de algunas malformaciones fetales que si se detectan a tiempo pueden mejorar el pronóstico de esos bebés. Otra de las novedades de esta modalidad de ultrasonido, es el movimiento y el tiempo real. Esta herramienta, en manos expertas, es tan útil que además de proporcionar imágenes tan reales que empiezan a establecer los lazos del vínculo afectivo con los padres, sirven para mejorar la calidad asistencial de las pacientes y de sus hijos.
        p.text Obtener las primera imágenes de como luce tu bebé, es solo uno de los beneficios que te brindan los ultrasonidos especializados en 3D / 4D HD LIVE.
        ul.text
          li Tamizaje del 1er trimestre
          li Morfológico del 2o trimestre
          li Crecimiento fetal del 3er trimestre